<%- include('header', locals) -%>
    <h2>Hello <%= name %>,</h2>
    <p>Great news! You have successfully enrolled in <strong>
            <%= courseTitle %>
        </strong>.</p>
    <p>You can start learning right away by logging into your dashboard and accessing the course materials.</p>
    <p>We're excited to see what you achieve!</p>
    <a href="#" class="button">Go to Course</a>
    <p>Best regards,<br>The <%= brandName %> Team</p>
    <%- include('footer', locals) -%>