<%- include('header', locals) -%>
    <h2>Hello <%= name %>,</h2>
    <p>Welcome to <strong>
            <%= brandName %>
        </strong>! We are thrilled to have you join our learning community.</p>
    <p>You can now browse our catalog and start enrolling in courses designed to help you succeed.</p>
    <p>If you have any questions, feel free to reply directly to this email.</p>
    <a href="<%= frontendUrl %>/courses" class="button">Explore Courses</a>
    <p>Best regards,<br>The <%= brandName %> Team</p>
    <%- include('footer', locals) -%>